@use "variables" as var;

@media (min-width: var.$breakpoint-desktop) {
  // Nullify scroll lock class if layout shifts during session
  .prevent-scroll {
    height: auto;
    overflow: auto;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  .header {
    padding: 2em 2.5em;
    gap: 4em;
  }

  .page-container {
    padding: 3em 2em 2em 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar {
    flex: 1;

    &__btn {
      display: none;
    }

    &__menu {
      display: block;
      position: relative;
      top: auto;
      right: auto;
      width: auto;
      height: auto;
      background-color: transparent;
      overflow: auto;
    }

    &__menu-content {
      padding: 0;
      width: auto;
      height: auto;
      min-width: auto;
      max-width: none;
      flex-direction: row;
      justify-content: space-between;
    }

    &__link-group {
      flex-direction: row;
      align-items: center;
      gap: 2.25em;
    }

    &__dropdown {
      position: relative;
    }

    &__dropdown-toggle {
      gap: 0.5em;
    }

    &__dropdown-content {
      position: absolute;
      width: fit-content;
    }
  }

  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 1em;

    &__img-wrapper {
      margin: 0;
    }

    &__content {
      text-align: left;
      align-self: flex-end;
    }

    &__heading {
      max-width: 11ch;
    }

    &__copy {
      margin: 0;
      padding: 2em 0;
      max-width: 41ch;
    }

    &__link {
      margin: 0;
    }

    &__client-logos {
      justify-content: flex-start;
      padding: 6em 0 0 0;
    }
  }
}
